<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>QueryCategories</servlet-name>
        <servlet-class>product.QueryCategories</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StockUpdater</servlet-name>
        <servlet-class>database.StockUpdater</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>QueryCategories</servlet-name>
        <url-pattern>/QueryCategories</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>QueryByCatID</servlet-name>
        <servlet-class>product.QueryByCatID</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>QueryByCatID</servlet-name>
        <url-pattern>/QueryByCatID</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>QueryByProd</servlet-name>
        <servlet-class>product.QueryByProd</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>QueryByProd</servlet-name>
        <url-pattern>/QueryByProd</url-pattern>
    </servlet-mapping>    
    <servlet>
        <servlet-name>ProductUpdater</servlet-name>
        <servlet-class>database.ProductUpdater</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductUpdater</servlet-name>
        <url-pattern>/ProductUpdater</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SearchProduct_servlet</servlet-name>
        <servlet-class>product.SearchProduct_servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchProduct_servlet</servlet-name>
        <url-pattern>/SearchProduct_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StockUpdater</servlet-name>
        <url-pattern>/StockUpdater</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
